<body>
    <table class="center">
        <tr> <th colspan="20"><pre><b>Current Question Status</b></pre></th> </tr>
        <tr><td colspan="20"><pre>Question {{data[0].q_id}}, Avg. Difficulty: {{data[0].difficulty}}, Avg. Time: {{data[0].time_taken}} min, Appeared {{appeared}} times previously</pre></td></tr>
        <tr><th colspan="5"><pre>Sub-Topics</pre></th><td colspan="15"><pre>{{subtp}}</pre></td></tr>
        <tr><th colspan="5"><pre>Topics</pre></th><td colspan="15"><pre>{{tp}}</pre></td></tr>
    </table>
    <br>
    <h2 *ngIf = "feedback_given && !isprof">You have already given feedback for this question</h2>
    <h2 *ngIf = "!feedback_given && !isprof">Please fill the feedback form below</h2>
    <br>
    <div class="container" *ngIf = "!feedback_given  && !isprof">
        <form [formGroup]="empForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-25">
            <label for="Difficulty_faced">Difficulty Faced</label>
          </div>
          <div class="col-75">
            <input type="number" id="Difficulty_faced" formControlName="Difficulty_faced" placeholder="from 1 to 5" max="5" min="1">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="Time_taken">Time Taken</label>
          </div>
          <div class="col-75">
            <input type="number" id="Time_taken" formControlName="Time_taken" placeholder="enter time it took to solve" max="1000" min="0">
          </div>
        </div>
        <div class="row"> <div class = "col-50"><label for="solved">Were you able to finally solve it?</label> <input type="radio" id="solved" formControlName="solved"></div></div>

        <div class="row">
          <input type="submit" value="Submit">
        </div>
        </form>
      </div>
      <br>
      <h6></h6>
    
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [plotOptions]="chartOptions.plotOptions"
          [labels]="chartOptions.labels"
          [stroke]="chartOptions.stroke"
          [fill]="chartOptions.fill"
        ></apx-chart>
      </div>

</body>
