<body>
    <br>
    <br>
    <div class="msec">
    <mat-form-field>
      <mat-label>Select Analytic</mat-label>
      <mat-select (selectionChange)="onSelectEvent($event.value)">
        <mat-option *ngFor="let drop of drop_options" [value]="drop.value">
          {{drop.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
    <div class="chrt-container">
    <div id="chart" *ngIf="analytic_option=='1'">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [yaxis]="chartOptions.yaxis"
        [xaxis]="chartOptions.xaxis"
        [legend]="chartOptions.legend"
        [colors]="chartOptions.colors"
        [grid]="chartOptions.grid"
      ></apx-chart>      
    </div>
    <div id="chart" *ngIf="analytic_option=='2'">
      <apx-chart
        [series]="chartOptions2.series"
        [chart]="chartOptions2.chart"
        [labels]="chartOptions2.labels"
        [responsive]="chartOptions2.responsive"
      ></apx-chart>
    </div>
    <div id="chart" *ngIf="analytic_option=='3'">
      <apx-chart
        [series]="chartOptions3.series"
        [chart]="chartOptions3.chart"
        [labels]="chartOptions3.labels"
        [responsive]="chartOptions3.responsive"
      ></apx-chart>
    </div>
    <div id="chart" *ngIf="analytic_option=='4'">
      <apx-chart
        [series]="chartOptions4.series"
        [chart]="chartOptions4.chart"
        [labels]="chartOptions4.labels"
        [responsive]="chartOptions4.responsive"
      ></apx-chart>
    </div>
  </div>
    
    <br>
    <br>
    <br>
    <div id="card">
      <div id="chart">
        <apx-chart
          [series]="chartOptionsnew.series"
          [chart]="chartOptionsnew.chart"
          [plotOptions]="chartOptionsnew.plotOptions"
          [labels]="chartOptionsnew.labels"
          [stroke]="chartOptionsnew.stroke"
          [fill]="chartOptionsnew.fill"
        ></apx-chart>
      </div>
    </div>
  </body>