table, th, td {
    border: 1px solid rgb(38, 9, 167);
    /* border-collapse: collapse; */
  }
  table {
    width: 95%;
  }
  th{
    height: 70px;
    background-color: rgb(121, 121, 241);
  }
  td{
    height: 60px;
    background-color: white;
  }
  tr, th, td {text-align:center;}
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  a{
    color:blue;
  }
  #button1 , #button2 {
    display:inline-block;
    height: 50px;
    width: 50px;
    border-radius: 20%;
    color: blue;
    /* background-color: white; */
    border: blue;
    background-color: rgb(219, 212, 212);
    margin: 15px;
    /* additional code */
    }
#container{
    text-align: center;
}
  body{
    padding-top:100px;
   }