<body>
  <table class="center">
    <tr>
      <th *ngFor="let col of headers">
        {{col}}
      </th>
    </tr>

    <tr *ngFor="let item of data">
      <td>    <a [routerLink]="['/matches', item.match_id]">{{item.match_id}}</a></td>
      <td>{{item.team_1}}</td>
      <td>{{item.team_2}}</td>
      <td>{{item.winner}}</td>
      <td>{{item.venue}}</td>
      <td>{{item.city}}</td>
      <td>{{item.year}}</td>
    </tr>
  </table>
  <button class="btn btn-primary" (click)="next()">Next</button>
  <button class="btn btn-primary" (click)="prev()">Prev</button>
</body>
