<body>
    <!-- <table class="center">
        <tr> <th colspan="20"><pre><b>Match Summary</b></pre></th> </tr>
        <tr><td colspan="20"><pre>{{data_info[0].match_id}}, IPL, {{data_info[0].year}}</pre></td></tr>
        <tr> <th colspan="20"><pre>{{order_bat[0]}} Batting  {{scores[0]}}-{{wickets[0]}}</pre></th> </tr>
        <tr *ngFor="let item of [].constructor(3); let i = index">
        <td colspan="5" *ngIf="i< data_bat1.length"><a [routerLink]="['/players', data_bat1[i].player_id]">{{i1_out1[i]}}</a></td>
        <td colspan="5" *ngIf="i< data_bat1.length">{{i1_out2[i]}}</td>
        <td colspan="5" *ngIf="i< data_ball1.length"><a [routerLink]="['/players', data_ball1[i].pid]">{{i1_out3[i]}}</a></td>
        <td colspan="5" *ngIf="i< data_ball1.length">{{i1_out4[i]}}</td>
        </tr>
        <tr> <th colspan="20"><pre>{{order_bat[1]}} Batting  {{scores[1]}}-{{wickets[1]}}</pre></th> </tr>
        <tr *ngFor="let item of [].constructor(3); let i = index">
        <td colspan="5" *ngIf="i< data_bat2.length"><a [routerLink]="['/players', data_bat2[i].player_id]">{{i2_out1[i]}}</a></td>
        <td colspan="5" *ngIf="i< data_bat2.length">{{i2_out2[i]}}</td>
        <td colspan="5" *ngIf="i< data_ball2.length"><a [routerLink]="['/players', data_ball2[i].pid]">{{i2_out3[i]}}</a></td>
        <td colspan="5" *ngIf="i< data_ball2.length">{{i2_out4[i]}}</td>
        </tr>
    </table> -->
    <h2>haha</h2>
</body>
