<body>
    <table class="center">
        <tr> <th colspan="20"><pre><b>Current Question Status</b></pre></th> </tr>
        <tr><td colspan="20"><pre>Question {{data[0].q_id}}, Difficulty: {{data[0].difficulty}}, Time: {{data[0].time_taken}} min</pre></td></tr>
        <tr><th colspan="5"><pre>Sub-Topics</pre></th><td colspan="15"><pre>{{subtp}}</pre></td></tr>
        <tr><th colspan="5"><pre>Topics</pre></th><td colspan="15"><pre>{{tp}}</pre></td></tr>
        <!-- <tr> <th colspan="20"><pre>{{order_bat[0]}} Batting  {{scores[0]}}-{{wickets[0]}}</pre></th> </tr>
        <tr *ngFor="let item of [].constructor(3); let i = index">
        <td colspan="5" *ngIf="i< data_bat1.length"><a [routerLink]="['/players', data_bat1[i].player_id]">{{i1_out1[i]}}</a></td>
        <td colspan="5" *ngIf="i< data_bat1.length">{{i1_out2[i]}}</td>
        <td colspan="5" *ngIf="i< data_ball1.length"><a [routerLink]="['/players', data_ball1[i].pid]">{{i1_out3[i]}}</a></td>
        <td colspan="5" *ngIf="i< data_ball1.length">{{i1_out4[i]}}</td>
        </tr> -->
        <!-- <tr> <th colspan="20"><pre>{{order_bat[1]}} Batting  {{scores[1]}}-{{wickets[1]}}</pre></th> </tr>
        <tr *ngFor="let item of [].constructor(3); let i = index">
        <td colspan="5" *ngIf="i< data_bat2.length"><a [routerLink]="['/players', data_bat2[i].player_id]">{{i2_out1[i]}}</a></td>
        <td colspan="5" *ngIf="i< data_bat2.length">{{i2_out2[i]}}</td>
        <td colspan="5" *ngIf="i< data_ball2.length"><a [routerLink]="['/players', data_ball2[i].pid]">{{i2_out3[i]}}</a></td>
        <td colspan="5" *ngIf="i< data_ball2.length">{{i2_out4[i]}}</td>
        </tr> -->
    </table>
    <br>
    <h2 *ngIf = "feedback_given and !isprof">You have already given feedback for this question</h2>
    <h2 *ngIf = "!feedback_given and !isprof">Please fill the feedback form below</h2>
    <br>
    <div class="container" *ngIf = "!feedback_given">
        <form [formGroup]="empForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-25">
            <label for="qname">Question</label>
          </div>
          <div class="col-75">
            <input type="text" id="qname" formControlName="Question" placeholder="enter question text here">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="Expected_Difficulty">Expected Difficulty</label>
          </div>
          <div class="col-75">
            <input type="number" id="Expected_Difficulty" formControlName="Expected_Difficulty" placeholder="from 1 to 5" max="5" min="1">
          </div>
        </div>
        <div class="row">
            <div class="col-25">
              <label for="Expected_solve_time">Expected Solve Time</label>
            </div>
            <div class="col-75">
              <input type="number" id="Expected_solve_time" formControlName="Expected_solve_time" placeholder="enter approx. minutes">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="Sub_topics">Sub-Topics</label>
            </div>
            <div class="col-75">
              <input type="text" id="Sub_topics" formControlName="Sub_topics" placeholder="comma separated valid sub-topics">
            </div>
          </div>
        <br>
        <div class="row">
          <input type="submit" value="Submit">
        </div>
        </form>
      </div>
    <!-- <h2>haha</h2> -->
</body>
