h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    text-align: left;
    background-color: #96D4D4;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
.lineChart{
  width: 400;
  height: 400;
}

* {
  box-sizing: border-box;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}
  
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
