<body>
  <h1><b>Basic Information</b></h1>
  <br>
  <br>
  <table class="center">
    <tr>
      <th *ngFor="let col of headers">
        {{col}}
      </th>
      <!-- <th>
        {{player_id}}
      </th> -->
    </tr>

    <tr *ngFor="let item of data">
      <td>{{item.player_name}}</td>
      <td>{{item.country}}</td>
      <td>{{item.batting_style}}</td>
      <td>{{item.bowling_skill}}</td>
    </tr>
  </table>
  <br>
  <br>
  <table class = "center" *ngIf="data2[0].matches>0">
    <tr>
      <th *ngFor="let col of headers2">
        {{col}}
      </th>
    </tr>

    <tr *ngFor="let item of data2">
      <td>{{item.matches}}</td>
      <td>{{item.runs}}</td>
      <td>{{item.four}}</td>
      <td>{{item.six}}</td>
      <td>{{item.fifty}}</td>
      <td>{{item.hs}}</td>
      <td>{{item.strike_rate}}</td>
      <td>{{item.average}}</td>
    </tr>
  </table>

  <div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis"
      [legend]="chartOptions.legend"
      [colors]="chartOptions.colors"
      [grid]="chartOptions.grid"
    ></apx-chart>
  </div>

  <table class="center" *ngIf="data4[0].matches>0">
    <tr>
      <th *ngFor="let col of headers3">
        {{col}}
      </th>
    </tr>

    <tr *ngFor="let item of data4">
      <td>{{item.matches}}</td>
      <td>{{item.runs}}</td>
      <td>{{item.wickets}}</td>
      <td>{{item.overs}}</td>
      <td>{{item.balls}}</td>
      <td>{{item.economy}}</td>
      <td>{{item.five_wickets}}</td>
      <!-- <td>{{item.average}}</td> -->
    </tr>
  </table>
  <div id="chart">
    <apx-chart
      [series]="chartOptions1.series"
      [chart]="chartOptions1.chart"
      [yaxis]="chartOptions1.yaxis"
      [xaxis]="chartOptions1.xaxis"
      [labels]="chartOptions1.labels"
      [stroke]="chartOptions1.stroke"
      [title]="chartOptions1.title"
      [dataLabels]="chartOptions1.dataLabels"
      [fill]="chartOptions1.fill"
      [tooltip]="chartOptions1.tooltip"
    ></apx-chart>
  </div>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid d-block mx-auto rounded-circle img-thumbnail mb-4">
  <h1>{{data[0].player_name}}</h1>
  <p>{{data[0].country}}</p>
  <p>{{data[0].batting_style}}</p>
  <p>{{data[0].bowling_skill}}</p>
  <!-- <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>Contact</button></p> -->
</div>



</body>