<body>
    <h2 class="center">Questions</h2>
    <br>
    <table class="center">
        <!-- <tr colspan="6"><th>Exams</th></tr> -->
      <tr>
        <th>Question ID</th>
        <th>Text</th>
        <th>Difficulty</th>
        <th>Time Taken</th>
        <th>Num Feedbacks</th>
      </tr>
  
      <tr *ngFor="let item of data">
        <td> <a [routerLink]="['/ques', item.q_id]">{{item.q_id}}</a></td>
        <td> {{item.question_text}}</td>
        <td> {{item.difficulty}}</td>
        <td> {{item.time_taken}}</td>
        <td> {{item.num_feedbacks}}</td>
      </tr>
    </table>
    <br>
    <div *ngIf="role!='student'"class="float-container">

      <div class="float-child">
        <h5 style="margin-left: 50px;">Difficulty-Question Distribution</h5>
        <div id="chart">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [labels]="chartOptions.labels"
            [responsive]="chartOptions.responsive"
          ></apx-chart>
        </div>
      </div>
      
      <div class="float-child">
        <h5 style="text-align: center;">Time-Difficulty Scatter plot</h5>
        <div id="chart" style="width: 700px">
          <apx-chart
            [series]="chartOptions2.series"
            [chart]="chartOptions2.chart"
            [xaxis]="chartOptions2.xaxis"
            [yaxis]="chartOptions2.yaxis"
          ></apx-chart>
        </div>
      </div>
      
    </div>


  </body>

  